{% extends 'base.html' %} {% block head%}
<link
rel="stylesheet"
href="{{ url_for('static', filename='css/main.css') }}"
/>
<title>Temp</title>
{% endblock %} {% block body %}
<!-- This example requires Tailwind CSS v2.0+ -->
<div class="items-center p-10 rounded-3xl">
  <div class="bg-white overflow-hidden rounded-xl shadow-xl">
    <div class="px-4 py-5 sm:px-6">
      <h3 class="text-xl leading-6 font-medium text-gray-900">
        Form For your xlsx
      </h3>
      <p class="mt-1 max-w-2xl text-sm text-gray-500">Select You File</p>
    </div>

    <div class="items-center px-5 ">

      <div class="bg-red-100 rounded-xl text-center" id="updateMessages">
        {% with messages = get_flashed_messages() %}
          {% if  messages %}
            {% for msg in messages %}
              <p class='text-xl text-red-600'>{{ msg }}</p>
            {% endfor %}
          {% endif %}
        {% endwith %}
      </div>
  </div>
    <div class="mt-5 md:mt-0 md:col-span-2 sm:col-auto">
      <form action="/file" method="POST" enctype=multipart/form-data>
        <div class="shadow overflow-hidden sm:rounded-md">
          <div class="px-4 py-5 bg-white sm:p-6">
            <div class="grid grid-cols-6 gap-6">
              <div class="col-span-5 sm:col-span-2 flex-row">
                <label
                
                  class="block text-sm font-medium text-gray-700"
                  >Delete Columns</label
                >
                <input
                  type="text" name="dColumns"
                  class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-5/6 shadow-lg sm:text-sm border-gray-300 rounded-md"
                />
              </div>
              <div class="">
                <input
                  name="dColumnsCB"
                  type="checkbox"
                  class="focus:ring-indigo-500 my-4 h-4 w-4 text-indigo-600 border-gray-300 rounded"
                />
              </div>

              <div class="col-span-5 sm:col-span-2">
                <label
                
                  class="block text-sm font-medium text-gray-700"
                  >Order Headers</label
                >
                <input
                  type="text"
                  name="newHeaders"
                  class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-lg sm:text-sm border-gray-300 rounded-md"
                />
              </div>
              <div class="">
                <input
                  name="newHeadersCB"
                  type="checkbox"
                  class="focus:ring-indigo-500 my-4 h-4 w-4 text-indigo-600 border-gray-300 rounded"
                />
            
              </div>
            </div>
          </div>
        </div>
        <div class="grid grid-cols-6 gap-6 p-6">
          <div class="col-span-6 sm:col-span-3">
            <label class="block text-sm font-medium text-gray-700">Name of Column</label>
            <input type="text" name="column" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full text-lg shadow-lg sm:text-sm border-gray-300 rounded-md">
          </div>

          <div class="col-span-6 sm:col-span-3">
            <label class="block text-sm font-medium text-gray-700">Searching Value</label>
            <input type="text" name="value" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full text-lg shadow-lg sm:text-sm border-gray-300 rounded-md">
          </div>
        </div>
        <div class="grid grid-cols-6 gap-6 p-6">
          <div class="col-span-6 sm:col-span-3">
            <label class="block text-sm font-medium text-gray-700">Switch To Next?</label>
            <input type="checkbox" name="valueNextCB"  class="focus:ring-indigo-500 my-4 h-4 w-4 text-indigo-600 border-gray-300 rounded">
          </div>

          <div class="col-span-6 sm:col-span-3">
            <label class="block text-sm font-medium text-gray-700">Replace With</label>
            <input type="text" name="replaceValue" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full text-lg shadow-lg sm:text-sm border-gray-300 rounded-md">
          </div>
        </div>
        <div class="grid p-5">
          <div>
            <label class="block text-sm font-medium text-gray-700"> Xlsx File </label>
            <div class="mt-1 flex justify-center px-6 pt-5 pb-6 border-2 border-gray-300 border-dashed rounded-md">
              <div class="space-y-1 text-center">
                <svg class="mx-auto h-12 w-12 text-gray-400" stroke="currentColor" fill="none" viewBox="0 0 48 48" aria-hidden="true">
                  <path d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <div class="flex text-sm text-gray-600">
                  <label class="relative cursor-pointer bg-white rounded-md font-medium text-indigo-600 hover:text-indigo-500 focus-within:outline-none focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-indigo-500">
                    <span>Upload a file</span>
                    <input name="upload" type="file"  accept=".xlsx, .xls" class="sr-only">
                  </label>
                  
                </div>
                <p class="text-xs text-gray-500">Xlsx up to 2MB</p>
              </div>
            </div>
          </div>
        </div>
          <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
            <button
              type="submit" onclick="send()"
              class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
            >
              Send
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<script>
  function send() {
    const xhttp = new XMLHttpRequest();
   
  }
</script>
{%endblock %}
